<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cocos2d-ui-tests-osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B44E4F816338743000492D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A009432F15181C8D0029A5C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0443DA814A42E4500E62742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A04B0EF514A29B77005EB429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0980E9414B92A7A004812AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0980F4414B92DB0004812AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0980FBE14B9DDDA004812AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A098109F14B9DE1B004812AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A098117F14B9DE3A004812AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A098125F14B9DE55004812AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0ADEF6014584BD3009A71F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6ED003717D8978A002B4973</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B78AE47717E7B13C0028BE0B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E026443112A59DA7009D04FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E050531F122D5AE6005B74CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E076E3771225C4BE00DE0DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E076E4F01225E97900DE0DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E076EB631225F7AB00DE0DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E076EB7E1225F82200DE0DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E076ECC91225FDE300DE0DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E076EDB81225FEAA00DE0DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E076F13512268A9800DE0DA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0AC05C31228021600EFA814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0AC06B7122803BC00EFA814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0AC084812280B7000EFA814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0B92CE81226A0C9003FF67E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0B92E111226A621003FF67E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0B92F251226C0DD003FF67E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0D2CDF912B93736008D5DBB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0DA425B12A03A3C00210ACE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
