<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>appledoc.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>build all libs.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cocos2d.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5018F24C0DFDEAC400C013A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>502C65ED0DFEF3DD00E4107D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>509807071175041800EA7266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A04A1FEA13B826B300ABAFB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B772F6A818120B3F005C069B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B772F6B118120CC9005C069B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D36F7E34181580A000E94F72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D37EE967187D4C9D00CB5EF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
